.Footer {
  background-color: #7c6d6d;
  height: 50px;
  width: 100%;
<<<<<<< HEAD
  bottom: 0;
=======
>>>>>>> 1c2bb826963da5e3077ea4294381ebb0cbd9a9bb
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
}
img {
  width: 30px;
}
li {
  color: white;
}
