* {
  background-color: black;
}

.div-poster {
  margin: auto;
}

.div-poster:hover {
  transform: scale(1.05);
  transition: transform 500ms;
  cursor: pointer;
}

.single-movie-poster {
  border: 2px;
  height: auto;
  width: auto;
  margin-top: 2px;
}

/* DESKTOP VERSION */

@media screen and (min-width: 900px) {
  .div-poster {
    margin-bottom: 30px;
  }
}
