* {
  background-color: black;
}

.div-poster {
  margin: auto;
}

.div-poster:hover {
  transform: scale(1.05);
  transition: transform 500ms;
  cursor: pointer;
}

.single-movie-poster {
  height: auto;
  width: 150px;
  margin: 2px auto;
}

@media screen and (max-width: 450px) {
  .div-poster {
    width: 50%;
  }
  .single-movie-poster {
    width: 95%;
  }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
  .div-poster {
    width: 33%;
  }
  .single-movie-poster {
    width: 95%;
  }
}

@media screen and (min-width: 601px) and (max-width: 746px) {
  .div-poster {
    width: 25%;
  }
  .single-movie-poster {
    width: 95%;
  }
}
