@import url("https://fonts.googleapis.com/css?family=Staatliches|Titillium+Web:400,400i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Heebo&display=swap");

* {
  background-color: rgb(22, 22, 22);
}

.slide-container {
  margin: 70px auto auto 20px;
  display: flex;

  flex-direction: column;
}

#myMoviesLibrary h1 {
  font-family: "Staatliches", cursive;
  font-size: 25px;
  color: rgb(165, 26, 26);
}
hr {
  margin: 0px;
  margin-bottom: 20px;
  background: linear-gradient(to left, rgb(231, 194, 194), rgb(165, 26, 26));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.each-slide > div {
  background-size: cover;
  height: 100px;
  width: 80px;
}
.each-slideHidden {
  overflow: hidden;
  width: 320px;
}

.each-slide {
  margin-bottom: 10px;
  width: calc(100px * 8);
  display: flex;
  animation: glisse 15s infinite;
}

#each-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: Opx;
  z-index: 10;
  display: flex;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  13% {
    transform: translateX(-100px);
  }
  26% {
    transform: translateX(-200px);
  }
  52% {
    transform: translateX(-400px);
  }
  104% {
    transform: translateX(-500px);
  }
}

#movieLikeIcons {
  width: 22px;
  height: 22px;
  margin: auto 3px 2px 4px;
}
#movieIconsFavTitre {
  display: flex;
  align-items: center;
}

#movieIconsFavTitre h1 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  padding-bottom: 2px;
  font-weight: bold;
}
#moviePlusIcons {
  width: 18px;
  height: 18px;
  margin: auto 5px 5px 4px;
}

#movieIconsPlusTitre h1 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  padding-bottom: 4px;
  font-weight: bold;
}
#movieIconsPlusTitre {
  display: flex;
  align-items: center;
}

#movieNavetIcons {
  width: 20px;
  height: 23px;
  margin: auto 5px 5px 4px;
}
#movieIconsNavetTitre h1 {
  color: white;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  padding-bottom: 4px;
  font-weight: bold;
}

#movieIconsNavetTitre {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .slide-container {
    width: 100%;
  }
  .each-slide > div {
    display: inline-block;

    background-size: cover;
    height: 250px;
    width: 170px;
  }
  .each-slide {
    height: 300px;
    text-align: center;
  }

  #myMoviesLibrary h1 {
    font-family: "Staatliches", cursive;
    font-size: 40px;
    color: rgb(165, 26, 26);
    text-align: center;
    margin-bottom: 40px;
  }
  #myMoviesLibrary hr {
    display: none;
  }
  #myMoviesLibrary {
    width: 100%;
  }
  #movieIconsFavTitre {
    margin-left: 22%;
  }
  #movieIconsPlusTitre {
    margin-left: 22%;
  }
  #movieIconsNavetTitre {
    margin-left: 22%;
  }
}
