#searchingBarre {
  display: none;
}

@media screen and (max-width: 600px) {
  .searchingButton {
    margin-left: 0;
    z-index: 2;
  }

  .enterYourSearch {
    width: 80%;
    height: calc(100vh - 100px);
    border-radius: 5px;
    background-color: black;
    position: absolute;
    top: 50px;
    right: 10px;
    transition-duration: 1s;
    transform: translate(-10px, 0);
    z-index: 1;
  }
  .noEntrySearch {
    width: 0%;
    height: calc(100vh - 100px);
    border-radius: 5px;
    background-color: black;
    position: absolute;
    top: 50px;
    right: -2px;
    transition-duration: 1s;
    z-index: 1;
  }
  #searchingBarre {
    width: 80%;
    margin: 20px 9%;
    display: block;
  }
}
