@import url("https://fonts.googleapis.com/css?family=Staatliches|Titillium+Web:400,400i,600,600i,700,700i&display=swap");

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  height: 53px;
}
.topBarNavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
}
header #logoUser {
  width: 20px;
  margin-top: 4px;
}
header #pictoLoupe {
  width: 25px;
  margin-top: 4px;
}

header #logoSite {
  width: 35px;
  height: 35px;
  margin-top: 4px;
}

.topBarLogo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.topBarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.topBarNavigationItems li {
  padding: 0 0.3rem;
}

.topBarNavigationItems a {
  color: white;
}

.searchBarButton {
  background: transparent;
  border: none;
  cursor: pointer;
}
.searchBarButton:focus {
  outline: none;
}
