.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  height: 53px;
}
.topBarNavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
}
header #logoUser {
  width: 25px;
  margin-top: 4px;
}
header #pictoLoupe {
  width: 25px;
  margin-top: 4px;
}

.topBarLogo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.topBarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.topBarNavigationItems li {
  padding: 0 0.5rem;
}

.topBarNavigationItems a {
  color: white;
}

.searchBarButton {
  background: transparent;
  border: none;
  cursor: pointer;
}
.searchBarButton:focus {
  outline: none;
}
