.Footer {
  background-color: black;
  height: 50px;
  width: 100%;
  bottom: 0;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
}
img {
  width: 30px;
}
li {
  color: white;
}
