.footer {
  background-color: black;
  height: 50px;
  width: 100%;
}
.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
}
.footer ul li img {
  width: 30px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  font-family: "Heebo", sans-serif;
}
