@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 40%;
    padding: 5% 0;
  }
  .header .avatar {
    width: 100%;
  }
  .header .avatar img {
    width: 50%;
    margin: 0 25% 5%;
  }
  .header .infos {
    width: 90%;
    margin: auto;
    color: white;
  }
  .header .infos h2 {
    font-weight: bold;
    color: red;
    margin-bottom: 1em;
  }
  .synopsis {
    text-align: justify;
  }
  .Desktop {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .header {
    width: 50vw;
    display: flex;
    padding: 1%;
  }
  .header .avatar {
    width: 25vw;
    height: calc(25vw * 1.5);
    margin: 5% auto;
  }

  .header .avatar img {
    width: 100%;
  }

  .header .infos {
    width: 20vw;
    height: calc(20vw * 1.9);
    overflow: hidden;
    color: white;
    margin: 5% 1em;
  }
  .header .infos h2 {
    font-weight: bold;
    color: red;
  }
  .synopsis {
    text-align: justify;
    color: white;
  }
  .Mobile {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    width: 24.5vw;
    display: flex;
    padding: 1%;
  }
  .header .avatar {
    width: 12vw;
    height: calc(12vw * 1.5);
    margin: 5% auto;
  }
  .header .infos {
    width: 12vw;
    height: calc(12vw * 1.35);
  }
}
