@import url("https://fonts.googleapis.com/css?family=Staatliches%7CTitillium+Web:400,400i,600,600i,700,700i&display=swap");

.topBar {
  position: fixed;
  width: 100%;
  background: black;
  height: 53px;
}
.topBarNavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem;
}
header #logoUser {
  width: 25px;
  margin-top: 4px;
}
header #pictoLoupe {
  width: 25px;
  margin-top: 4px;
}

.topBarLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.topBarLogo h1 {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Staatliches", cursive;
}

.spacer {
  flex: 1;
}

.topBarNavigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.topBarNavigationItems li {
  padding: 0 0.5rem;
}

.topBarNavigationItems a {
  color: white;
}

.searchBarButton {
  background: transparent;
  border: none;
  cursor: pointer;
}
.searchBarButton:focus {
  outline: none;
}

.logo {
  height: 30px;
}

#logoUser {
  height: 30px;
  width: 12px;
}
