@import url("https://fonts.googleapis.com/css?family=Heebo|Staatliches&display=swap");

* {
  background-color: rgb(22, 22, 22);
}

.topBar {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
}

.Footer {
  bottom: 0px;
  position: fixed;
}

#movieTrailerContainer {
  z-index: 0;
}

#account-wrapper {
  z-index: 5;
}

h2 {
  font-family: "Staatliches", cursive;
}

p {
  font-family: "Heebo", sans-serif;
}

h3 {
  font-family: "Staatliches", cursive;
}
